<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Nightly Random Words</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div class="topbar">
        rw.io
    </div>
</header>
    This page is generated automatically nightly.<br/>
    The cron is requested at 17:30 UTC and can have slight delay due to high workloads.<br/>
    Last update: {{ timestr }}.<br/>

    <div class="pagination-container">
        <button class="pagebtn" onclick="prevPage()">⟨⟨</button>
        <button class="pagebtn" onclick="nextPage()">⟩⟩</button>
    </div>

    <progress value="0" max="1"></progress>

    {% for word in words %}
        <div class="word-container">
            <div class="word-title">
                {{ word.name }}
            </div>
            {% for def in word.defs %}
            <hr id="def-sep">
            <div class="word-def">
                <strong>({{ def.pos }})</strong> {{ def.content }}<br/>
            </div>
            <strong>Eg:</strong> <em>{{def.examples}}</em><br/>
            <strong>Synonyms:</strong> {{ def.syn }}
            {% endfor %}
        </div>
    {% endfor %}
<footer>
    <hr width="90%">
    <center>
        <a href="https://github.com/ngtv2409/rw.io">
        <img width="10%" height="10%" src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="Github">
        </a>
    </center>
</footer>

<script src="script.js"></script>
</body>
</html>
