html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 1.5vh;
    overflow-wrap: break-word;
    padding-top: 3vh;
}


.topbar {
    width: 100%;
    height: 5vh;
    background-color: #3e3e6f;
    position: fixed;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    font-weight: bold;
    color: white;
    border-radius: 0 0 5px 5px;
    left: 0;
}

.word-container {
    margin: 2vh;
    padding: 1vh;
    color: #000000;
    border-radius: 10px;
    font-size: 1.75vh;
    line-height: 1.5;
}

.word-def-box {
    margin: 1vh;
    padding: 1vh;
}

.word-title {
    font-family: fantasy;
    text-align: center;
    font-size: 5vh;
    font-weight: bold;
    color: #000;
}

.word-def {
    display: flex;
    align-items: center;
    padding: 1vh;
    gap: 2vh;
    margin: 1vh;
}

.word-pos {
    font-size: 3vh;
    font-weight: bold;
}

.pagination-container {
    width: 100%;
    display: flex;
    justify-content: center;   /* center the buttons */
    gap: 3vh;                  /* space between buttons */
    margin: 4vh 0 0 0;
}

.pagebtn {
    width: 10%;
    height: 10%;
    font-size: 2.5vh;
    font-weight: bold;
    border-radius: 12px;
    background-color: #efefef;
    color: #5e5eaf;
    border: none;
    transition: all 0.1s ease;
}
.pagebtn:active {
    background-color: #dfdfdf;
}

.progcon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

progress {
    width: 90%;
    height: 2vh;
    min-width: 0;
}
