html {
    font-family: Arial, sans-serif;
    font-size: 1.2 em;
    overflow-wrap: break-word;
}

.word-container {
    margin: 20px;
    padding: 10px;

    outline: 1px solid #2e5f9f;
    background-color: #f8f9f2;
    color: #000000;
    
    border-radius: 10px;
}

.word-title {
    margin:10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #2e5f9f;
}

#def-sep {
    background-color: #3ca6a6;
    height: 1px;
    border: none;
}
