html, body {
    height: 100%;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-size: 1.5vh;
    overflow-wrap: break-word;
}

.word-container {
    margin: 2vh;
    padding: 1vh;
    outline: 1px solid #2e5f9f;
    background-color: #f8f9f2;
    color: #000000;
    border-radius: 10px;
    font-size: 1.75vh;
}

.word-title {
    margin:10px;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    color: #2e5f9f;
}

#def-sep {
    background-color: #3ca6a6;
    height: 1px;
    border: none;
}
